
#tbl{border-radius: 1em; background-image: url((270988.jpg); border-color: black;width: 30%;height: 300px; border-style: solid;}
#b1{border-radius: 1em;}
body
    {
      background-image: url(270988.jpg);
    }